<html lang = "zh-CN">
	<head>
		<meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="{{ site.url }}/Blog/assets/css/screen.css" />
		<link rel="icon" type="image/png" href="{{ site.url }}/Blog/assets/images/ico.jpg" />
	</head>
	<body class="wrap">
		{% include header.html selectIndex=1 %}
		<section class="intro">
		  <div class="grid">
			<div class="unit whole center-on-mobiles">
			  <p class="first">{{page.abstract}}</p>
			</div>
		  </div>
		</section>
		{{content}}
		
		{% include footer.html %}
	</body>
</html>